*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 1700px) {
  html {
    font-size: 57.5%;
  }
}
@media only screen and (max-width: 1320px) {
  html {
    font-size: 52.5%;
  }
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.content-wrapper {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 3.5fr;
}
@media only screen and (max-width: 1320px) {
  .content-wrapper {
    grid-template-columns: minmax(32rem, 1fr) 3.5fr;
  }
}
@media only screen and (max-width: 900px) {
  .content-wrapper {
    grid-template-columns: minmax(29rem, 1fr) 3.5fr;
  }
}

.header {
  background-color: #ffffff;
  grid-column: 1/2;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.09);
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 768px) {
  .header {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    left: -101vw;
  }
}

.header--active {
  left: 0;
}

.main {
  background-color: #f0f0f0;
  grid-column: 2/-1;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 0.8fr 4fr 1fr;
}
@media only screen and (max-width: 768px) {
  .main {
    grid-column: 1/-1;
  }
}

.main-content-wrapper {
  grid-column: 2/3;
  height: 100vh;
}

.simplebar-track .simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.2 !important;
  transition: opacity 0s linear;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  min-width: 5px !important;
  width: 5px !important;
}

.simplebar-scrollbar {
  position: absolute;
  right: 2px;
  width: 3px !important;
  min-height: 10px;
}

.project-content {
  animation: 0.4s ease-out 0s 1 fadeIn;
  height: 200vh;
  display: flex;
  flex-direction: column;
  margin: 0 8rem;
}

.about-content {
  animation: 0.4s ease-out 0s 1 fadeIn;
  height: 100vh;
  width: 100%;
  padding: 10rem 0;
  font-size: 1.5rem;
  color: #b0b0b0;
  display: grid;
  grid-template: "a b b" 22rem "c d e" 40rem/1.2fr 1fr 1fr;
  padding-top: 17rem;
}
@media only screen and (max-width: 768px) {
  .about-content {
    grid-template: "b" min-content "e" min-content "c" min-content "d" min-content "a" min-content/1fr;
    padding-top: 10rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes reveal {
  0% {
    width: 60%;
    height: 0rem;
  }
  40% {
    width: 100%;
  }
  80% {
    height: 1rem;
  }
}
@keyframes revealText {
  0% {
    opacity: 0;
  }
  20% {
    display: block;
  }
  100% {
    position: absolute;
    visibility: visible;
    opacity: 1;
  }
}
.exhibitions__reveal-btn {
  position: absolute;
  right: 0rem;
  top: -8px;
  text-decoration: none;
  background: transparent;
  border-style: none;
  height: 20px;
  width: 100%;
}
.exhibitions__reveal-btn--box {
  display: block;
  cursor: pointer;
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.exhibitions__reveal-btn--inner {
  display: block;
  position: absolute;
  width: 1.5rem;
  height: 2px;
  background-color: #b0b0b0;
  align-self: flex-end;
  left: calc(100% - 1.5rem);
  top: calc(100% - 1.5rem / 2);
}
.exhibitions__reveal-btn--inner:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  background-color: inherit;
  height: inherit;
  transform: rotateZ(90deg);
  transition: all 0.1s ease-in-out;
}
.exhibitions__reveal-btn--active .exhibitions__reveal-btn--inner:before {
  transform: rotateZ(0);
  opacity: 0;
}

.education__reveal-btn {
  position: absolute;
  right: 0rem;
  top: -8px;
  text-decoration: none;
  background: transparent;
  border-style: none;
  height: 20px;
  width: 100%;
}
.education__reveal-btn--box {
  display: block;
  cursor: pointer;
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.education__reveal-btn--inner {
  display: block;
  position: absolute;
  width: 1.5rem;
  height: 2px;
  background-color: #b0b0b0;
  align-self: flex-end;
  left: calc(100% - 1.5rem);
  top: calc(100% - 1.5rem / 2);
}
.education__reveal-btn--inner:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  background-color: inherit;
  height: inherit;
  transform: rotateZ(90deg);
  transition: all 0.1s ease-in-out;
}
.education__reveal-btn--active .exhibitions__reveal-btn--inner:before {
  transform: rotateZ(0);
  opacity: 0;
}

.contact__reveal-btn {
  position: absolute;
  right: 0rem;
  top: -8px;
  text-decoration: none;
  background: transparent;
  border-style: none;
  height: 20px;
  width: 100%;
}
.contact__reveal-btn--box {
  display: block;
  cursor: pointer;
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact__reveal-btn--inner {
  display: block;
  position: absolute;
  width: 1.5rem;
  height: 2px;
  background-color: #b0b0b0;
  align-self: flex-end;
  left: calc(100% - 1.5rem);
  top: calc(100% - 1.5rem / 2);
}
.contact__reveal-btn--inner:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  background-color: inherit;
  height: inherit;
  transform: rotateZ(90deg);
  transition: all 0.1s ease-in-out;
}
.contact__reveal-btn--active .exhibitions__reveal-btn--inner:before {
  transform: rotateZ(0);
  opacity: 0;
}

.info {
  grid-area: b;
}
.info__text {
  text-align: justify;
  font-size: 1.33rem;
}

p {
  font-size: 1.15rem;
  font-family: "Martel", serif;
  font-weight: 300;
  color: #3f3f3f;
  text-align: right;
}

.frame {
  border-top: solid 1px #b0b0b0;
  border-bottom: solid 1px #b0b0b0;
  border-left: solid 1px #b0b0b0;
}
@media only screen and (max-width: 768px) {
  .frame {
    border-bottom: none;
    border-right: solid 1px #b0b0b0;
  }
}

.contact {
  grid-area: a;
  display: flex;
  position: relative;
  display: flex;
  height: 10rem;
  align-items: center;
}
.contact__text {
  margin-left: auto;
  margin-right: 7rem;
}
@media only screen and (max-width: 768px) {
  .contact__text {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }
}
.contact__description {
  display: flex;
  height: inherit;
  width: 4rem;
  align-items: center;
  position: relative;
}
.contact__description:before {
  content: "contact";
  position: absolute;
  left: -1.1rem;
  transform: rotate(270deg);
}
.contact__frame {
  height: 100%;
  width: 1rem;
  margin-left: 3rem;
}
@media only screen and (max-width: 768px) {
  .contact {
    flex-direction: column;
    height: min-content;
    margin-bottom: 2rem;
    padding: 0 4rem;
  }
  .contact__description {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .contact__description:before {
    position: relative;
    display: block;
    transform: rotate(0);
    margin-bottom: 1rem;
    align-self: flex-start;
    left: 0;
  }
  .contact__frame {
    height: 0rem;
    width: 100%;
    margin-left: 0rem;
  }
}
@media only screen and (max-width: 768px) {
  .contact--active .contact__frame {
    height: 10rem;
    width: 100%;
    border-bottom: solid 1px #b0b0b0;
    animation: 0.4s cubic-bezier(0.43, 0.12, 0.81, 0.2) 0s 1 reveal;
  }
  .contact--active .contact__text {
    animation: 1s cubic-bezier(0.43, 0.12, 0.81, 0.2) 0s 1 revealText;
    position: absolute;
    visibility: visible;
    top: 37%;
    right: 4%;
    opacity: 1;
  }
}

.exhibitions {
  grid-area: c;
  position: relative;
  display: flex;
  height: 40rem;
  align-items: center;
}
.exhibitions__text {
  margin-left: auto;
  margin-right: 7rem;
}
@media only screen and (max-width: 768px) {
  .exhibitions__text {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }
}
.exhibitions__description {
  display: flex;
  height: inherit;
  width: 4rem;
  align-items: center;
  position: relative;
}
.exhibitions__description:before {
  content: "exhibitions";
  position: absolute;
  left: -2.1rem;
  transform: rotate(270deg);
}
.exhibitions__frame {
  height: 100%;
  width: 1rem;
  margin-left: 3rem;
}
@media only screen and (max-width: 768px) {
  .exhibitions {
    flex-direction: column;
    height: min-content;
    margin-bottom: 2rem;
    padding: 0 4rem;
  }
  .exhibitions__description {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .exhibitions__description:before {
    position: relative;
    display: block;
    transform: rotate(0);
    margin-bottom: 1rem;
    align-self: flex-start;
    left: 0;
  }
  .exhibitions__frame {
    height: 0rem;
    width: 100%;
    margin-left: 0rem;
  }
}
@media only screen and (max-width: 768px) {
  .exhibitions--active .exhibitions__frame {
    height: 40rem;
    width: 100%;
    border-bottom: solid 1px #b0b0b0;
    animation: 0.4s cubic-bezier(0.43, 0.12, 0.81, 0.2) 0s 1 reveal;
  }
  .exhibitions--active .exhibitions__text {
    animation: 1s cubic-bezier(0.43, 0.12, 0.81, 0.2) 0s 1 revealText;
    position: absolute;
    visibility: visible;
    top: 11%;
    right: 4%;
    opacity: 1;
  }
}

.education {
  grid-area: d;
  display: flex;
  position: relative;
  display: flex;
  height: 30rem;
  align-items: center;
}
.education__text {
  margin-left: auto;
  margin-right: 7rem;
}
@media only screen and (max-width: 768px) {
  .education__text {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }
}
.education__description {
  display: flex;
  height: inherit;
  width: 4rem;
  align-items: center;
  position: relative;
}
.education__description:before {
  content: "education";
  position: absolute;
  left: -2rem;
  transform: rotate(270deg);
}
.education__frame {
  height: 100%;
  width: 1rem;
  margin-left: 3rem;
}
@media only screen and (max-width: 768px) {
  .education {
    flex-direction: column;
    height: min-content;
    margin-bottom: 2rem;
    padding: 0 4rem;
  }
  .education__description {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .education__description:before {
    position: relative;
    display: block;
    transform: rotate(0);
    margin-bottom: 1rem;
    align-self: flex-start;
    left: 0;
  }
  .education__frame {
    height: 0rem;
    width: 100%;
    margin-left: 0rem;
  }
}
@media only screen and (max-width: 768px) {
  .education--active .education__frame {
    height: 30rem;
    width: 100%;
    border-bottom: solid 1px #b0b0b0;
    animation: 0.4s cubic-bezier(0.43, 0.12, 0.81, 0.2) 0s 1 reveal;
  }
  .education--active .education__text {
    animation: 1s cubic-bezier(0.43, 0.12, 0.81, 0.2) 0s 1 revealText;
    position: absolute;
    visibility: visible;
    top: 18%;
    right: 4%;
    opacity: 1;
  }
}

.portrait {
  grid-area: e;
}
.portrait picture img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 768px) {
  .portrait {
    margin: 4rem 8rem;
  }
}

.projects {
  display: grid;
  grid-template: repeat(3, 40rem)/repeat(3, 32rem);
  grid-gap: 3rem;
  margin: 10rem 0;
  animation: 0.3s cubic-bezier(0.43, 0.12, 0.81, 0.2) 0s 1 fadeIn;
}

.preview {
  height: 100%;
  width: 100%;
  background-color: green;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.09);
  position: relative;
  overflow: hidden;
}
.preview img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.preview--1 {
  grid-column: 1/2;
  grid-row: 1/2;
  position: relative;
  overflow: hidden;
}
.preview--2 {
  grid-column: 2/3;
  grid-row: 1/2;
  position: relative;
}

.over-picture {
  transition: all 0.3s ease-in-out;
  content: "Super Lights: Story of Love";
  color: #f0f0f0;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: bold;
  font-size: 78.4613px;
  opacity: 0;
  top: -2.6rem;
  left: 0;
  display: block;
  position: absolute;
  height: 117%;
  width: 100%;
  background: linear-gradient(to right, rgba(44, 63, 104, 0.7) 0%, rgba(125, 185, 232, 0) 100%);
}

.scroll-to-top {
  grid-column: 1/2;
  position: absolute;
  bottom: 10rem;
  left: 40%;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  border-style: none;
  cursor: pointer;
  visibility: hidden;
}
.scroll-to-top:hover {
  background: none;
  opacity: 1 !important;
}
.scroll-to-top:before {
  content: "";
  background-color: black;
  width: 2.8rem;
  height: 0.4rem;
  position: absolute;
  top: -3px;
  left: 1px;
  display: block;
  border-radius: 7px;
}
.scroll-to-top__img {
  height: 3rem;
}

.project-content {
  color: #646464;
}

.project__header-title {
  font-size: 4.2rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  text-align: center;
  margin: 12rem 0 0 0;
}
.project__header-paragraph {
  font-size: 1.2rem;
  font-family: "Martel", serif;
  text-align: justify;
  margin: 4rem 8rem 8rem 8rem;
}

.project__paragraph {
  font-size: 1.2rem;
  font-family: "Martel", serif;
  text-align: justify;
  margin: 6rem 8rem;
}

.project__image-group--1 {
  display: grid;
  grid-template: "img1 img2" 70rem "img3 img3" 70rem/1fr 1fr;
  grid-gap: 2rem;
}
.project__image-group--1 picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.project__image-group--1a {
  grid-area: img1;
}
.project__image-group--1b {
  grid-area: img2;
}
.project__image-group--1c {
  grid-area: img3;
}
.project__image-group--2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project__image-group--2 picture:last-child {
  margin-bottom: 8rem;
}
.project__image-group--2 picture {
  margin-bottom: 2rem;
}
.project__image-group--2 picture img {
  height: 80rem;
  width: 70rem;
  object-fit: cover;
}

.side-menu {
  margin: 14rem 4rem 10rem 7rem;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 1700px) {
  .side-menu {
    margin: 12rem 4rem 10rem 2rem;
  }
}
@media only screen and (max-width: 900px) {
  .side-menu {
    margin: 12rem 2rem 10rem 1rem;
  }
}
@media only screen and (max-width: 768px) {
  .side-menu {
    margin: 12rem 8rem 10rem 8rem;
  }
}
.side-menu__header {
  position: relative;
}
.side-menu__header--title {
  font-size: 5rem;
  text-align: right;
  font-weight: 400;
  color: #565656;
}
.side-menu__header--title a {
  text-decoration: none;
  color: #565656;
}
.side-menu__header--description {
  font-size: 1.5rem;
  top: 4.3rem;
  position: absolute;
  font-weight: 400;
  right: 8.4rem;
  max-width: 100%;
  min-width: 14rem;
  color: #3f3f3f;
}
@media only screen and (max-width: 900px) {
  .side-menu__header--description {
    top: 5.8rem;
    right: 4.4rem;
  }
}
.side-menu__nav {
  margin-top: 10rem;
  font-size: 1.5rem;
  position: relative;
}
@media only screen and (max-width: 1700px) {
  .side-menu__nav {
    margin-top: 3rem;
  }
}

.nav {
  list-style: none;
  text-align: right;
  color: #3f3f3f;
  font-weight: 300;
}
.nav li {
  margin-bottom: 1rem;
}
.nav--left {
  text-align: left;
  margin-bottom: 4rem !important;
  margin-top: 4rem;
  margin-left: 10rem;
}

.nav-button {
  text-decoration: none;
  color: #3f3f3f;
  position: relative;
}
.nav-button:hover {
  color: #0c0c0c;
}
.nav-button:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -1px;
  left: -3rem;
  background-color: #b0b0b0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.nav-button:hover:before {
  visibility: visible;
  opacity: 1;
  left: 0;
}

.nav-frame {
  position: absolute;
  height: 35rem;
  width: 1rem;
  top: 5rem;
  left: 4rem;
  border-top: 1px solid #b0b0b0;
  border-left: 1px solid #b0b0b0;
  border-bottom: 1px solid #b0b0b0;
  color: #b0b0b0;
}
.nav-frame__text {
  position: absolute;
  top: 22rem;
  transform: rotate(270deg);
  color: #b0b0b0;
}

.side-menu-btn {
  font: inherit;
  visibility: hidden;
  display: inline-block;
  position: absolute;
  overflow: visible;
  margin: 0;
  padding: 15px;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: 0.15s;
  transition-property: opacity, filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
  z-index: 5;
}
@media only screen and (max-width: 768px) {
  .side-menu-btn {
    visibility: visible;
  }
}

.side-menu-btn__box {
  position: relative;
  display: inline-block;
  width: 3.7rem;
  height: 2rem;
  transition: all 0.4s ease-out;
}

.side-menu-btn__inner {
  position: absolute;
  top: 3rem;
  display: block;
  margin-top: -2px;
  height: 4px;
  width: inherit;
  background-color: #c4c4c4;
  border-radius: 4rem;
  transition: all 0.25s ease-out;
}
.side-menu-btn__inner:before {
  position: absolute;
  content: "";
  top: -2rem;
  width: inherit;
  height: inherit;
  display: block;
  background-color: inherit;
  border-radius: inherit;
  transition: all 0.25s ease-out;
}
.side-menu-btn__inner:after {
  position: absolute;
  content: "";
  top: -1rem;
  right: 0;
  width: inherit;
  height: inherit;
  display: block;
  background-color: inherit;
  border-radius: inherit;
  transition: all 0.25s ease-out;
}

.side-menu-btn--active .side-menu-btn__inner {
  top: 2rem;
  display: block;
  margin-top: -2px;
  height: 4px;
  width: inherit;
  background-color: #3f3f3f;
  border-radius: 4rem;
  transform: rotateZ(45deg);
  transition: all 0.25s ease-out;
}
.side-menu-btn--active .side-menu-btn__inner:before {
  position: absolute;
  content: "";
  top: 0px;
  width: inherit;
  height: inherit;
  display: block;
  background-color: inherit;
  border-radius: inherit;
  transform: rotateZ(90deg);
  transition: all 0.25s ease-out;
}
.side-menu-btn--active .side-menu-btn__inner:after {
  position: absolute;
  content: "";
  top: 0.5rem;
  right: 0.5rem;
  opacity: 0;
  width: inherit;
  height: inherit;
  display: block;
  background-color: inherit;
  border-radius: inherit;
  transform: rotateZ(-45deg);
  transition: all 0.25s ease-out;
}

/*# sourceMappingURL=style.css.map */
