*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.content-wrapper {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 3.5fr;
}

.header {
  background-color: #ffffff;
  grid-column: 1/2;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.09);
}

.main {
  background-color: #f0f0f0;
  grid-column: 2/-1;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 0.8fr 4fr 1fr;
}

.main-content-wrapper {
  grid-column: 2/3;
  height: 100vh;
}

.simplebar-track .simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.2 !important;
  transition: opacity 0s linear;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  min-width: 5px !important;
  width: 5px !important;
}

.simplebar-scrollbar {
  position: absolute;
  right: 2px;
  width: 3px !important;
  min-height: 10px;
}

.projects {
  display: grid;
  grid-template: repeat(3, 40rem)/repeat(3, 32rem);
  grid-gap: 3rem;
  margin: 10rem 0;
}

.preview {
  height: 100%;
  width: 100%;
  background-color: green;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.09);
  position: relative;
  overflow: hidden;
}
.preview img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.preview--1 {
  grid-column: 1/2;
  grid-row: 1/2;
  position: relative;
  overflow: hidden;
}
.preview--1-active {
  transition: all 0.2s ease-in-out;
  content: "Super Lights: Story of Love";
  color: #f0f0f0;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: bold;
  font-size: 78.4613px;
  top: -2.6rem;
  left: -40rem;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, rgba(43, 98, 216, 0.56) 0%, rgba(125, 185, 232, 0) 100%);
}
.preview--2 {
  grid-column: 2/3;
  grid-row: 1/2;
  position: relative;
}

.over-picture {
  transition: all 0.3s ease-in-out;
  content: "Super Lights: Story of Love";
  color: #f0f0f0;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: bold;
  font-size: 78.4613px;
  opacity: 0;
  top: -2.6rem;
  left: 0;
  display: block;
  position: absolute;
  height: 117%;
  width: 100%;
  background: linear-gradient(to right, rgba(44, 63, 104, 0.7) 0%, rgba(125, 185, 232, 0) 100%);
}

.scroll-to-top {
  grid-column: 1/2;
  position: absolute;
  bottom: 10rem;
  left: 40%;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  border-style: none;
  cursor: pointer;
}
.scroll-to-top:hover {
  background: none;
  opacity: 1;
}
.scroll-to-top:before {
  content: "";
  background-color: black;
  width: 2.8rem;
  height: 0.4rem;
  position: absolute;
  top: -3px;
  left: 1px;
  display: block;
  border-radius: 7px;
}
.scroll-to-top__img {
  height: 3rem;
}

.side-menu {
  margin: 14rem 4rem 10rem 7rem;
  display: flex;
  flex-direction: column;
}
.side-menu__header {
  position: relative;
}
.side-menu__header--title {
  font-size: 5rem;
  text-align: right;
  font-weight: 400;
  color: #565656;
}
.side-menu__header--description {
  font-size: 1.5rem;
  top: 4.3rem;
  position: absolute;
  font-weight: 400;
  right: 8.4rem;
  max-width: 100%;
  min-width: 14rem;
  color: #3f3f3f;
}
.side-menu__nav {
  margin-top: 10rem;
  font-size: 1.5rem;
  position: relative;
}

.nav {
  list-style: none;
  text-align: right;
  color: #3f3f3f;
  font-weight: 300;
}
.nav li {
  margin-bottom: 1rem;
}
.nav--left {
  text-align: left;
  margin-bottom: 4rem !important;
  margin-top: 4rem;
  margin-left: 10rem;
}

.nav-button {
  text-decoration: none;
  color: #3f3f3f;
  position: relative;
}
.nav-button:hover {
  color: #0c0c0c;
}
.nav-button:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -1px;
  left: -3rem;
  background-color: #b0b0b0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.nav-button:hover:before {
  visibility: visible;
  opacity: 1;
  left: 0;
}

.nav-frame {
  position: absolute;
  height: 35rem;
  width: 1rem;
  top: 5rem;
  left: 4rem;
  border-top: 1px solid #b0b0b0;
  border-left: 1px solid #b0b0b0;
  border-bottom: 1px solid #b0b0b0;
  color: #b0b0b0;
}
.nav-frame__text {
  position: absolute;
  top: 22rem;
  transform: rotate(270deg);
  color: #b0b0b0;
}

/*# sourceMappingURL=style.css.map */
