.content-wrapper {
    height: 100vh;
    width: 100%;
    position: relative;

    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr 3.5fr;

    @media only screen and (max-width: $s-desktop) {
        grid-template-columns: minmax(32rem, 1fr) 3.5fr;
    }
    @media only screen and (max-width: $xs-desktop) {
        grid-template-columns: minmax(29rem, 1fr) auto;
    }
}

.header {
    background-color: $off-white;
    grid-column: 1 / 2;
    box-shadow: $shadow-1;
    transition: all 0.2s ease-in-out;

    @media only screen and (max-width: $tablet) {
        position: absolute;
        height: 100vh;
        width: 100vw;
        z-index: 1;
        left: -101vw;
        overflow: scroll;
    }
}

.header--active {
    left: 0;
}

.main {
    grid-column: 2/-1;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 0fr 100%;

    @media only screen and (max-width: $tablet) {
        grid-column: 1 / -1;
        grid-template-columns: 1fr;
        grid-auto-columns: 0;
        grid-template-rows: max-content 1fr;
    }
}

.main-content-wrapper {
    height: 100vh;

    @media only screen and (max-width: $tablet) {
        grid-column: auto;
        padding: 0 4rem;
        grid-template-rows: 10rem 1fr;
    }
    @media only screen and (max-width: $mobile) {
        padding: 0;
    }
}

/// PROJECT PAGE

.project-content {
    animation: 0.4s ease-out 0s 1 fadeIn;
    display: flex;
    flex-direction: column;
    margin: 0 0.7rem;

    @media only screen and (max-width: $tablet) {
        margin: 0;
        height: min-content;
    }
}

// ABOUT PAGE

.about-content {
    animation: 0.4s ease-out 0s 1 fadeIn;
    height: 100vh;
    width: 70%;
    padding: 10rem 0 10rem 18rem;
    font-size: 1.5rem;
    color: $gray-m;
    display: grid;
    grid-template:
        'a b b' 22rem
        'c d e' 40rem / 1.2fr 1fr 1fr;
    padding-top: 17rem;
    row-gap: 2rem;

    @media only screen and (max-width: 1650px) {
        width: 90%;
        padding: 6rem 0 9rem 7rem;
    }

    @media only screen and (max-width: $sm-desktop) {
        grid-template: 'b' min-content 'e' min-content 'c' min-content 'd' min-content 'a' min-content / 1fr;
        padding-top: 3rem;
        height: auto;
        width: 70vw;
        padding: 4rem 6rem;
    }
    
    @media only screen and (max-width: $tablet) {
        grid-template: 'b' min-content 'e' min-content 'c' min-content 'd' min-content 'a' min-content / 1fr;
        padding-top: 3rem;
        height: auto;
        width: 100vw;
        padding: 4rem 6rem;
    }
}

.utils {
    background-color: transparent;

    @media only screen and(max-width: $tablet) {
        background-color: $off-white;
        width: 100%;
        height: 6rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__header a {
        display: none;

        @media only screen and(max-width: $tablet) {
            display: block;
            font-size: 3rem;
            text-decoration: none;
            text-align: right;
            font-weight: 400;
            color: $off-black;
        }
    }
}
