// animations

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    
    100% {
      opacity: 1;
    }
  }

@keyframes reveal {
0% {
    
    height: 0rem;
}

80%{
    height: 1rem;
}
100% {
    
}
}


@keyframes revealText{
    0%{
        opacity: 0;
    }

    20%{
        display: block;
    }

    100%{
        position: absolute;
        visibility: visible;
        opacity: 1
    }
}

// mixins 

@mixin about-titles($description-height, $description-title, $description-left) {
   
    display: flex;
    height: $description-height;
    align-items: center;

    &__text {
        margin-left: auto;
        margin-right: 7rem;
        @media only screen and (max-width: $tablet){
            position: absolute;
            visibility: hidden;
            opacity: 0;
        }
    }

    &__description {
        display: flex;
        height: inherit; 
        width: 4rem; 
        align-items: center;
        position: relative;

        &:before {
            content: $description-title;
            position: absolute;

            left: $description-left;
            transform: rotate(270deg);
        }
    }

    &__frame {
        height: 100%;
        width: 1rem;
        margin-left: 3rem;
    }

    @media only screen and (max-width: $tablet){
        flex-direction: column;
        

        height: min-content;
        margin-bottom: 2rem;
        padding: 0 4rem;

        &__description {
            
            flex-direction: column;
            justify-content: center;
            width: 100%;
            &:before {

                position: relative;
                display: block;
                transform: rotate(0);
                margin-bottom: 1rem;
                align-self: flex-start;
                left: 0;
            }
        }

        &__frame {
            height: 0rem;
            width: 100%;
            margin-left: 0rem;
         
        }
    }

    
}

@mixin reveal-btn($sectionName) {
    .#{$sectionName}__reveal-btn {
        display: none;
        position: absolute;
        right: 0rem;
        top: -8px;
        text-decoration: none;
        background: transparent;
        border-style: none;
        height: 20px;
        width: 100%;
    
        
        
        &--box {
            display: block;
            cursor: pointer;
            width: inherit;
            height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
    
        }
    
        &--inner {
            display: block;
            position: absolute;
            width: 1.5rem;
            height: 2px;
            background-color: $gray-m;
            align-self: flex-end;
            left: calc(100% - 1.5rem);
            top: calc(100% - 1.5rem / 2);
            
    
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: inherit;
                background-color: inherit;
                height: inherit;
                transform: rotateZ(90deg);
                transition: all .1s ease-in-out; 
    
            }
    
        }
        &--active {
            .#{$sectionName}__reveal-btn--inner {
                &:before {
                    transform: rotateZ(0);
                    opacity: 0;
                }
            }
        }

        @media only screen and (max-width: $tablet){
            display: initial;
        }
    }
    }

@mixin sectionActiveTablet($name, $height, $top){
    .#{$name}__frame {
    
        height: $height;
        width: 100%;
        border-bottom: solid 1px $gray-m;
        animation: .4s cubic-bezier(.43,.12,.81,.2) 0s 1 reveal;

    }

    .#{$name}__text {
        animation: 1s cubic-bezier(.43,.12,.81,.2) 0s 1 revealText;
        position: absolute; 
        visibility: visible;
        top: $top;
        right: 4%;
        opacity: 1;
    }
}




@include reveal-btn("exhibitions");
@include reveal-btn("education");
@include reveal-btn("contact");





.info {
    grid-area: b;
    
    &__text {
        text-align: justify;
        font-size: 1.33rem;
        margin: 0 4rem;
    }
}

p {
    font-size: 1.15rem;
    font-family: $font-para;
    font-weight: 300;
    color: $gray-d;
    text-align: right;

}



.frame {
        border-top: solid 1px $gray-m;
        border-bottom: solid 1px $gray-m;
        border-left: solid 1px $gray-m;

        @media only screen and (max-width: $tablet){
            border-bottom: none;
            border-right: solid 1px $gray-m;
        }

}

.contact {
    grid-area: a;
    display: flex;
    position: relative;

    @include about-titles(10rem, "contact", -1.1rem);
    
    @media only screen and (max-width: $tablet) {

        &--active {
            @include sectionActiveTablet('contact', 10rem, 37%);
    
        }
    }

}


.exhibitions {
    grid-area: c;
    position: relative;
    
    @include about-titles(40rem, "exhibitions", -2.1rem);

    @media only screen and (max-width: $tablet) {
        &--active {
            @include sectionActiveTablet('exhibitions', 40rem, 11%);
        
        }
    }
}



.education {
    grid-area: d;
    display: flex;
    position: relative;
    
    @include about-titles(30rem, "education", -2rem);

    @media only screen and (max-width: $tablet) {
        &--active {
            @include sectionActiveTablet('education', 30rem, 18%);
    
        }
    }
}

.portrait {
    grid-area: e;
    
    picture {

        img {
            height: auto;
            width: 100%;
            object-fit: cover;
        }
    }

    @media only screen and (max-width: $tablet){
        margin: 4rem 8rem;
    }
}
