.projects {
    display: grid;
    grid-template: repeat(3, auto)/repeat(2, auto);
    grid-gap: 3rem;
    margin: 2rem 1rem;
    animation: .3s cubic-bezier(.43,.12,.81,.2) 0s 1 fadeIn;

    @media only screen and (max-width: $tablet) {
        grid-template: none;
        grid-template-columns: 70%;
        grid-template-rows: 47rem;
        grid-auto-rows: 47rem;
        grid-auto-columns: 0;
        grid-gap: 0px;
        row-gap: 0px;
        justify-content: center;
        row-gap: 1px;
    }
    @media only screen and (max-width: $mobile) {
        margin: 0rem 0;
        grid-template-columns: 100%;
    }

    @media only screen and (min-width: $l-desktop) {
        grid-template: repeat(3, 40rem)/repeat(3, 32rem);
    }
}

.projects__title {
	margin: 12rem auto 0 auto;
	font-size: 2.5rem;
	font-weight: 300;
    color: #b0b0b0;
    
    
    @media only screen and (max-width: $tablet) {
        margin: 4rem auto 0 auto;
        margin-left: 15%;
    }
    @media only screen and (max-width: $mobile) {
        margin: 1rem;
        text-align: center;
    }
}

.preview {
    height: 100%;
    width: 100%;
    background-color: green;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.09);
    position: relative;
    overflow: hidden;

   

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &--1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        position: relative;
        overflow: hidden;
    }

    &--2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        position: relative;
    }

    @media only screen and (max-width: $tablet) {
        &--1 {
            grid-column: 1 / -1;
            grid-row: 1 / 2;
       
        }
    
        &--2 {
            grid-column: 1 / -1;
            grid-row: 2 / 3;
           
        }
    }
}

.over-picture {
    transition: all .3s ease-in-out;
    content: 'Super Lights: Story of Love';
    color: $gray-background;
    font-family: $font-titles;
    font-style: italic;
    font-weight: bold;
    font-size: 78.4613px;
    opacity: 0;
    top: -2.6rem;
    left: 0;
    display: block;
    position: absolute;
    height: 117%;
    width: 100%;
    background: linear-gradient(to right, rgba(44, 63, 104, 0.7) 0%, rgba(125, 185, 232, 0) 100%);

    @media only screen and (max-width: $tablet) {
        display: none;
    }
}

.preview-label {

    display: none;
@media only screen and (max-width: $tablet) {

    display: block;
    position: absolute;
    color: white;
    font-size: 2rem;
    font-weight: 400;
    font-family: $font-primary;
    height: 100%;
    width: 100%;
    padding: 1rem;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgba(44, 63, 104, 0.4) 0%, rgba(125, 185, 232, 0) 100%);
}

}

.scroll-to-top {


    grid-column: 1 / 2;
    position: absolute;
    bottom: 10rem;
    left: 40%;
    opacity: 0;
    transition: all .4s ease-in-out;
    border-style: none;
    cursor: pointer;
    height: 3rem;
    visibility: hidden;
    

    &:hover {
        background: none;
        opacity: 1 !important;
    }

    &:before {
        content: '';
        background-color: black;
        width: 2.8rem;
        height: .4rem;
        position: absolute;
        top: -3px;
        left: 1px;
        display: block;
        border-radius: 7px;
    }

    &__img {
        height: 3rem;
    }

    @media only screen and (max-width: $tablet) {
        position: relative;
        bottom: 0;
        top: 4px;
        left: 0;
        margin-left: 2.8rem;

margin-right: 1.4rem;
    }
}


