
.project-content {
    color: $gray-article;
}

.project__header {

    
    &-title {
        font-size: 4.2rem;
        font-family: $font-titles;
        font-weight: 700;
        text-align: center;
        margin: 12rem 0 0 0;

        @media only screen and (max-width: $tablet) {
            margin: 4rem 6rem 0 6rem;
            font-size: 4rem;
       }

    }

    &-paragraph {
        font-size: 1.2rem;
        font-family: $font-para;
        text-align: justify;
        margin: 4rem 8rem 8rem 8rem;


        @media only screen and (max-width: $tablet) {
             margin: 4rem 6rem 8rem 6rem;
        }
    }
}

.project__paragraph {
    font-size: 1.2rem;
    font-family: $font-para;
    text-align: justify;
    margin: 6rem 6rem;
}

.project__image-group {
    &--1 {
        display: grid;
        grid-template: "img1 img2"70rem "img3 img3"70rem / 1fr 1fr;
        grid-gap: 2rem;

        @media only screen and (max-width: $tablet) {
            grid-template: auto;
            grid-template-columns: 100%;
            grid-auto-rows: auto;
            width: 100%;
        
       }

        picture {

            img {

                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        &a {
            grid-area: img1;

            @media only screen and (max-width: $tablet) {
                grid-column: 1/ -1;
                grid-row: 1 / 2;
            
           }

        
        }

        &b {
            grid-area: img2;
            @media only screen and (max-width: $tablet) {
                grid-column: 1/ -1;
                grid-row: 2 / 3;
            
           }
        }

        &c {
            grid-area: img3;
            @media only screen and (max-width: $tablet) {
                grid-column: 1/ -1;
                grid-row: 3 / 4;
            
           }
        }


    }

    &--2 {
        width: 100%;

        picture:last-child {
            margin-bottom: 8rem;
        }

        picture {
            margin-bottom: 2rem;

            img {

                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}