.project-content {
    color: $gray-article;
}

.project__header {
    &-title {
        font-size: 4.2rem;
        font-family: $font-titles;
        font-weight: 700;
        text-align: center;
        margin: 12rem 0 0 0;

        @media only screen and (max-width: $tablet) {
            margin: 4rem 6rem 0 6rem;
            font-size: 4rem;
        }
    }

    &-paragraph {
        font-size: 1.2rem;
        font-family: $font-para;
        text-align: justify;
        margin: 4rem 20rem 8rem;

        @media only screen and (max-width: $sm-desktop) {
            font-size: 1.4rem;
            margin: 4rem 2rem 8rem 2rem;
        }

        @media only screen and (max-width: $tablet) {
            font-size: 1.6rem;
            margin: 4rem 6rem 8rem 6rem;
        }
    }
}

.project__paragraph {
    font-size: 1.2rem;
    font-family: $font-para;
    text-align: justify;
    margin: 6rem 6rem;

    @media only screen and (max-width: $sm-desktop) {
        font-size: 1.4rem;
        margin: 4rem 2rem 8rem 2rem;
    }

    @media only screen and (max-width: $tablet) {
        font-size: 1.6rem;
        margin: 6rem 4rem;
    }
}

.project__image-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (min-width: $s-desktop) {
        padding: 0 16rem;
    }

    picture:last-child {
        margin-bottom: 8rem;
    }

    picture {
        margin-bottom: 2rem;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}
