
.side-menu-btn {
    font: inherit;
    visibility: hidden;
    display: inline-block;
    position: absolute;
    overflow: visible;
    margin: 0;
    padding: 15px;
    cursor: pointer;
     transition-timing-function:linear; 
     transition-duration:.15s; 
    transition-property: opacity,filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
    top: -8px;

    z-index: 5;

    @media only screen and (max-width: $tablet) {
                visibility: visible;

    }
    @media only screen and (max-width: $tablet) {
                position: relative;
              
    }
}

.side-menu-btn__box {
    position: relative;
    display: inline-block;
    width: 3.7rem;
    height: 2rem;
    transition: all .4s ease-out;

  
}






.side-menu-btn__inner {
    position: absolute;
    top: 3rem;
    display: block;
    margin-top: -2px;
    height: 4px;
    width: inherit;
    background-color: $gray-l;
    border-radius: 4rem;
    transition: all .25s ease-out;

   

    &:before {
        position: absolute;
        content: '';
        top: -2rem;
        width: inherit;
        height: inherit;
        display: block;
        background-color:inherit;
        border-radius: inherit;
        transition: all .25s ease-out;

        

    }

    &:after {
        position: absolute;
        content: '';
        top: -1rem;
        right: 0;
        width: inherit;
        height: inherit;
        display: block;
        background-color: inherit;
        border-radius: inherit;
        transition: all .25s ease-out;

    }
}

.side-menu-btn--active {


    .side-menu-btn__inner {
       
        top: 2rem;
        display: block;
        margin-top: -2px;
        height: 4px;
        width: inherit;
        background-color: $gray-d;
        border-radius: 4rem;
        transform: rotateZ(45deg);
        transition: all .25s ease-out;
    
        &:before {
            position: absolute;
            content: '';
            top: 0px;
            width: inherit;
            height: inherit;
            display: block;
            background-color: inherit;
            border-radius: inherit;
            transform: rotateZ(90deg);
            transition: all .25s ease-out;
    
        }
    
        &:after {
            position: absolute;
            content: '';
            top: .5rem;
            right: .5rem;
            opacity: 0;
            width: inherit;
            height: inherit;
            display: block;
            background-color: inherit;
            border-radius: inherit;
            transform: rotateZ(-45deg);
            transition: all .25s ease-out;
    
        }
    }

}

