/// fonts

$font-primary: 'Josefin Sans',
sans-serif;
$font-titles: 'Playfair Display',
serif;
$font-para: 'Martel',
serif;


/// colors 

$off-black: #565656;

$gray-l: #c4c4c4;
$gray-m: #b0b0b0;
$gray-d: #3f3f3f;
$gray-article: #646464;
$gray-background: #f0f0f0;

$off-white: #ffffff;


/// shadows

$shadow-1: 0 0 8px rgba(0, 0, 0, .09);